
body {
    background-color: cream;
    color: white;
  }
  h1 {
    text-align: center;
  }
  table {
    margin: 20px auto;
    border: 2px solid whitesmoke;
  }
  input {
    margin-left: 18px;
    border: 2px solid goldenrod;
    width: 20%;
    padding: 5px;
  }
  td {
    width: 5%;
    font-size: 20px;
  }
  thead td {
    font-weight: bold;
  }
  .highlighted {
    background-color: green;
    color: white;
  }
  table {
    background-color: palevioletred;
  }
  button {
    background-color: pink;
  }
  
