html,
body {
    margin: 0 auto;
    padding: 0;
    background-color: cornsilk;
}

header img {
    width: 60%;
    padding-left: 20%;
    height: 30%;
}


h1,
h2 {
    text-align: center;
    color: rgba(139, 95, 36, 0.897);
}

button {
    width: 100%;
    background-color: rgb(224, 129, 12);
    font-size: large;
}

.accord-panel1 {
    display: none;
}
.accord-panel2 {
    display: none;
}

.accord {
    list-style: none;
}

/* tab panel style */
.tab-list {
    margin: 0;
    padding: 0;
}

.tab-list li {
    display: inline-block;
    background-color: rgb(226, 146, 85);
}

.tab-list li a {
    display: block;
    color: rgb(141, 119, 93);
    padding: 3px 10px 3px 10px;
}

.tab-list li.active {
    background-color: rgb(241, 209, 185);
}

.tab-panel {
    display: none;
    background-color: rgb(241, 209, 185);
    min-height: 70px;
    overflow: auto;
    padding: 10px;
}
